---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import downtown from '../assets/downtown.svg';
import hills from '../assets/hills.svg';
import mountains from '../assets/mountains.svg';
import robot from '../assets/robot.svg';
import valley from '../assets/valley.svg';
import wordmark from '../assets/wordmark.svg';
---
<Layout title="Techtastrophe - Roanoke's Tech Takeover">
  <main class='parallax'>
    <header class='hero'>
      <span class='sky' />
      <img src={mountains.src} alt='' class='mountains' />
      <img src={hills.src} alt='' class='hills' />
      <img src={valley.src} alt='' class='valley' />
      <img src={wordmark.src} alt='' class='wordmark' />
      <img src={robot.src} alt='' class='robot' />
      <img src={downtown.src} alt='' class='downtown' />
    </header>
    <section class='block' />
  </main>
</Layout>

<style>
  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .downtown, .hills, .mountains, .robot, .sky, .valley, .wordmark {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
  }

  .sky {
    background: linear-gradient(to bottom, #4f46e6, #c7c6f3 75%, #ff957b 100%);
    transform: translateZ(-60px) scale(7);
  }

  .mountains {
    transform: translateZ(-50px) scale(6);
  }

  .hills {
    transform: translateZ(-40px) scale(5);
  }

  .wordmark {
    transform: translateZ(-20px) scale(3);
  }

  .downtown {
    transform: translateZ(-5px) scale(1.5);
  }

  .robot {
    transform: translateZ(-10px) scale(2);
  }

  .valley {
    transform: translateZ(-30px) scale(4);
  }

  .block {
    background: red;
    height: 200vh;
    width: 100%;
  }

</style>
